In [4]:
# Feature Scaling
# Absolute Maximum Scaling

import pandas as pd
import numpy as np

df = pd.DataFrame({'class':[1,1,1,1],'Alcohol':[14.23,13.16,14.37,13.24],'Mallic':[1.71,1.78,2.36,2.59]})

# Calculate Max value

max_vals = np.max(np.abs(df))
max_vals

14.37

In [3]:
# Scale to the range of -1 to 1

print((df-max_vals)/max_vals)

      class   Alcohol    Mallic
0 -0.930411 -0.009743 -0.881002
1 -0.930411 -0.084203 -0.876131
2 -0.930411  0.000000 -0.835769
3 -0.930411 -0.078636 -0.819763

In [5]:
# Normalization

from sklearn.preprocessing import MinMaxScaler
scaling = MinMaxScaler()

scaled_data = scaling.fit_transform(df[['Alcohol','Mallic']])
df[['Alcohol','Mallic']] = scaled_data
# scaled_df.head()

In [30]:
df

   class   Alcohol    Mallic
0      1  0.884298  0.000000
1      1  0.000000  0.079545
2      1  1.000000  0.738636
3      1  0.066116  1.000000

In [37]:
# Standarrdization (z-score Normalization)

from sklearn.preprocessing import StandardScaler

scaling = StandardScaler()

df[['Alcohol','Mallic']]=scaling.fit_transform(df[['Alcohol','Mallic']])

df

   class   Alcohol    Mallic
0      1  0.868077 -1.067331
1      1 -1.067011 -0.880548
2      1  1.121265  0.667082
3      1 -0.922331  1.280797