In [1]:
import pandas as pd 
import numpy as np

In [2]:
data = pd.read_csv('mercedesbenz.csv',usecols = ['X1','X2','X3','X4','X5','X6'])

In [3]:
# lets have a look at how many labels each variables has

for col in data.columns:
    print(col,':' , len(data[col].unique()),'labels')

X1 : 27 labels
X2 : 44 labels
X3 : 7 labels
X4 : 4 labels
X5 : 29 labels
X6 : 12 labels

In [6]:
# let's examine how many columns we will obtain after one hot encoding these variables
pd.get_dummies(data,drop_first=True).shape

(4209, 117)

In [7]:
data.X2.value_counts().sort_values(ascending=False)

X2
as    1659
ae     496
ai     415
m      367
ak     265
r      153
n      137
s       94
f       87
e       81
aq      63
ay      54
a       47
t       29
k       25
i       25
b       21
ao      20
ag      19
z       19
d       18
ac      13
g       12
ap      11
y       11
x       10
aw       8
at       6
h        6
al       5
an       5
q        5
p        4
ah       4
av       4
au       3
am       1
j        1
af       1
l        1
aa       1
c        1
o        1
ar       1
Name: count, dtype: int64

In [8]:
top_10 = [x for x in data.X2.value_counts().sort_values(ascending=False).head(10).index]
top_10

['as', 'ae', 'ai', 'm', 'ak', 'r', 'n', 's', 'f', 'e']

In [10]:
for label in top_10:
    data[label] = np.where(data['X2']==label,1,0)

data[['X2']+top_10]

      X2  as  ae  ai  m  ak  r  n  s  f  e
0     at   0   0   0  0   0  0  0  0  0  0
1     av   0   0   0  0   0  0  0  0  0  0
2      n   0   0   0  0   0  0  1  0  0  0
3      n   0   0   0  0   0  0  1  0  0  0
4      n   0   0   0  0   0  0  1  0  0  0
...   ..  ..  ..  .. ..  .. .. .. .. .. ..
4204  as   1   0   0  0   0  0  0  0  0  0
4205   t   0   0   0  0   0  0  0  0  0  0
4206   r   0   0   0  0   0  1  0  0  0  0
4207   e   0   0   0  0   0  0  0  0  0  1
4208  ae   0   1   0  0   0  0  0  0  0  0

[4209 rows x 11 columns]